<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdg.androidtraining"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gdg.androidtraining.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gdg.androidtraining.styling.StylingActivity"
            android:label="@string/title_activity_styling" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.database.DatabaseActivity"
            android:configChanges="keyboard|orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.sharedpreferences.SharedPrefsActivity"
            android:label="@string/title_activity_shared_prefs" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.webview.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.webservices.JsonParserActivity"
            android:label="@string/title_activity_json_parser" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.listview.ListviewActivity"
            android:label="@string/title_activity_listview" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.listview.CustomListViewActivity"
            android:label="@string/title_activity_listview" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.phonecall.CallActivity" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.rssreader.RssReaderActivity"
            android:configChanges="keyboard|orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name="com.gdg.androidtraining.rssreader.DetailsActivity"
            android:configChanges="keyboard|orientation|screenSize|keyboardHidden" >
        </activity>
    </application>

</manifest>